html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-height {
  height: 100vh;
}
.landscape {
  background-image: url('../public/images/landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
#boat,
#corn,
#chicken,
#fox {
  cursor: pointer;
}
.farmer-position {
  top: 1.5rem;
}
@keyframes boat-movement
{
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(35vw,0);
  }
}
.boat-animation {
  animation: boat-movement 10s forwards;
}
#tooltip {
  display: none;
}

#tooltip[data-show] {
  display: block;
}

.hidden {
  visibility: hidden;
}
.dead {
  display: none;
}
.animation {
  animation: pulse 1s linear infinite both;
}
.front {
  z-index: -1;
}
.bt-color {
  background-color: #5D3F59;
  color: #F5E2DC;
  border: none;
  border-radius: 5px;
}
@media (prefers-reduced-motion) {
  .animation {
    animation-name: dissolve;
  }
}
/* .float { 
	animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
} */
.glass {
  background: rgba( 0, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.shadow {
  filter: drop-shadow(0 0 0.1rem rgb(46, 46, 46));
}
.imageRotateHorizontal {
  -moz-animation: spinHorizontal 1.5s forwards;
  -o-animation: spinHorizontal 1.5s forwards;    
  -webkit-animation: spinHorizontal 1.5s forwards;
  animation: spinHorizontal 1.5s forwards;
}

@keyframes spinHorizontal {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}